.botao {
    padding: 32px;
    background-color:#6278f7 ;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 1em;
    box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 16px 0;
}

.botao:hover {
    transition: all 0.3s;
    box-shadow: none;
    scale: 0.9;
    color: #95FFD4;
}

.botao img {
    width: 24px;
    height: auto;
    margin-left: 8px;
    align-items: baseline;
}