.formulario {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.formulario form {
    width: 40%;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.1);
}

