.Lista-suspensa label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}

.Lista-suspensa select {
    cursor: pointer;
    background-color:#fff;
    appearance: none;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 60%;
    border: none;
    border-radius: 1em;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}

/* [data='Programação']{background-color: #D9F7E9;}
[data='Front-End'] {background-color: #E8F8FF;}
[data='Data Science'] {background-color: #F0F8E2;}
[data='Devops'] {background-color: #FDE7E8;}
[data='Ux e Design']{background-color:#FAE9F5 ;}
[data='Mobile'] {background-color:#FFF5D9 ;}
[data='Inovação e Gestão']{background-color: #FFEEDF;} */